<ion-header>
  <ion-toolbar>
    <ion-title>
      Busquemos repositorios!!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-input type="text" [(ngModel)]="name" text-left placeholder="Ingrese palabra" id="input" ></ion-input>

<ion-button color="primary" 
(click)="Consultar()">
Consultar datos
</ion-button>

  <ion-list >
    
    <ion-item *ngFor="let data of datos; let i = index">
        <ion-label (click) = "presentModal( i )" > {{ i }}</ion-label>
       
        <ion-label> {{ data.name }}</ion-label>
          <ion-label>{{ data.description }}</ion-label>
            <ion-label> {{ data.html_url }}</ion-label>
        
    </ion-item>
 </ion-list>


</ion-content>
